body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 40px;
}
p{
  text-align: justify;
}
/* !First section  */

.orange-color {
  color: #ffa500;
}
.sec-1 {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 120px;
}
.first-half {
  width: 50%;
  padding-left: 5%;
}
#first-pic {
  margin-top: 5%;
  width: 80%;
}
a {
  text-decoration: none;
  background-image: linear-gradient(to right, #ff9a75, #ff6c4e);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}

/* Second Section */
.sec-2{
  display: flex;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.sec-half{
  width: 50%;
  padding-left: 5%;
}
#sec-pic{
  width: 80%;
}
.dream-big{
  padding-right: 5%;
}
